{% if articles_page and articles_page.has_other_pages() %}
<nav class="pagination" aria-label="Page navigation">
  {% if articles_page.has_previous() %}
  <a href="{{ SITEURL }}/{{ articles_previous_page.url }}" rel="prev">&laquo; Newer</a>
  {% endif %}

  {% for page_num in articles_page.paginator.page_range %}
  {% if page_num == articles_page.number %}
  <span class="current">{{ page_num }}</span>
  {% else %}
  <a href="{{ SITEURL }}/{{ articles_paginator.page(page_num).url }}">{{ page_num }}</a>
  {% endif %}
  {% endfor %}

  {% if articles_page.has_next() %}
  <a href="{{ SITEURL }}/{{ articles_next_page.url }}" rel="next">Older &raquo;</a>
  {% endif %}
</nav>
{% endif %}
